AUTH_DATABASE_HOST=YOUR_DATABASE_HOST
AUTH_DATABASE_PORT=YOUR_DATABASE_PORT
AUTH_DATABASE_NAME=YOUR_DATABASE_NAME
AUTH_DATABASE_USER=YOUR_DATABASE_USER
AUTH_DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
AUTH_SERVER_HOST=0.0.0.0
AUTH_SERVER_PORT=9090
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
REDIS_URL=redis://:YOUR_REDIS_PASSWORD@redis:6379
